In [1]:
a=-10.5
abs(a)

10.5

In [2]:
list=[12,23,34,45,67]
max(list)

67

In [3]:
min(list)

12

In [4]:
len(list)

5

In [5]:
c=23.75
round(c)

24

In [6]:
c=23.25
round(c)

23

In [7]:
x=5
factorial(x)

NameError: name 'factorial' is not defined

In [8]:
import math
math.factorial(x)

120

In [9]:
import math as m 
m.factorial(x)

120

In [10]:
m.ceil(34.5)

35

In [11]:
m.sqrt(81)

9.0

In [12]:
m.floor(34.5)

34

In [13]:
list=[23,34,'msd','hardik']
a=list.pop()
print(a)

hardik

In [14]:
while(len(list)>0):
    a=list.pop()
    print(a)

msd
34
23

In [ ]:
#data structures

In [ ]:
#list

In [15]:
list=['france','argentina','234','67.89']
list[0]

'france'

In [3]:
list.remove(67.89)
list

TypeError: descriptor 'remove' for 'list' objects doesn't apply to a 'float' object

In [16]:
list[1]

'argentina'

In [17]:
list

['france', 'argentina', '234', '67.89']

In [20]:
list[1:3]

['argentina', '234']

In [31]:
list=['france','argentina','234','67.89']
del list[3]list
list

['france', 'argentina', '234']

In [40]:
list.pop()

'67.89'

In [55]:
list=['france','argentina','234','67.89']
list.remove(67.89)
print(list)

ValueError: list.remove(x): x not in list

In [57]:
list=['france','argentina','234','67.89']
list.insert(2,'leo messi')
list

['france', 'argentina', 'leo messi', '234', '67.89']

In [58]:
list=['france','argentina','234','67.89']
list.append('brazil')
list

['france', 'argentina', '234', '67.89', 'brazil']

In [61]:
list=['france','argentina','234','67.89']
list.remove(67.89)
print(list)

ValueError: list.remove(x): x not in list

In [ ]:
#tuples

In [63]:
tuple=('france','argentina','234','67.89')
tuple[2]

'234'

In [64]:
tuple[1:3]

('argentina', '234')

In [65]:
tuple[1]

'argentina'

In [66]:
tuple[1]='spain'

TypeError: 'tuple' object does not support item assignment

In [68]:
list[1]='india'
list

['france', 'india', '234', '67.89']

In [69]:
tuple2=(1,2,3,4)
tuple3=tuple+tuple2
tuple3

('france', 'argentina', '234', '67.89', 1, 2, 3, 4)

In [70]:
tuple2*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [71]:
max(tuple2)

4

In [72]:
min(tuple2)

1

In [76]:
tuple2=(1,2,3,4)
print( 3 in tuple 2)

SyntaxError: invalid syntax (1987521158.py, line 2)

In [ ]:
#sets

In [77]:
set1={1,2,3,4,5,6}
set1

{1, 2, 3, 4, 5, 6}

In [78]:
type(set1)

set

In [79]:
set1(2)

TypeError: 'set' object is not callable

In [80]:
set2={2,3,4,4,5,5}
set2

{2, 3, 4, 5}

In [81]:
set1.add(30)
set1

{1, 2, 3, 4, 5, 6, 30}

In [83]:
list=[34,45,56]
set1.update(list)
set1

{1, 2, 3, 4, 5, 6, 30, 34, 45, 56}

In [84]:
set1.remove(34)
set1

{1, 2, 3, 4, 5, 6, 30, 45, 56}

In [85]:
set1.discard(5)
set1

{1, 2, 3, 4, 6, 30, 45, 56}

In [87]:
set1.clear()
set1

set()

In [90]:
a={1,2,3,4}
b={3,4,5,6}
print(a&b)

{3, 4}

In [91]:
print(a-b)

{1, 2}

In [95]:
print(a/b)

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [ ]:
#break

In [96]:
months=['jan','feb','mar','apr','may','jun']
for m in months :
    print(m)
    if m=="apr":
        break

jan
feb
mar
apr

In [97]:
months=['jan','feb','mar','apr','may','jun']
for m in months :
    if m=="apr":
        break
    print(m)

jan
feb
mar

In [99]:
months=['jan','feb','mar','apr','may','jun']
for m in months :
    if m=="apr":
        continue
    print(m)

jan
feb
mar
may
jun

In [ ]:
#dictionaries

In [100]:
student={'name':'priya','age':20,'course':'btech','stream':'cse'}
student

{'name': 'priya', 'age': 20, 'course': 'btech', 'stream': 'cse'}

In [102]:
student['name']

'priya'

In [103]:
student['subject']

KeyError: 'subject'

In [106]:
student.get('subject')

In [107]:
print(student.keys())

dict_keys(['name', 'age', 'course', 'stream'])

In [108]:
print(student.values())

dict_values(['priya', 20, 'btech', 'cse'])

In [109]:
print(student.items())

dict_items([('name', 'priya'), ('age', 20), ('course', 'btech'), ('stream', 'cse')])

In [110]:
student['stream']='ece'
student

{'name': 'priya', 'age': 20, 'course': 'btech', 'stream': 'ece'}

In [114]:
student['stream']=('ece,'cse')
student

SyntaxError: invalid syntax (3572757228.py, line 1)

In [117]:
student.pop('age')

20

In [118]:
student.clear()
student

{}

In [120]:
student={'name':'priya','age':20,'course':'btech','stream':'cse'}
del student['course']
student

{'name': 'priya', 'age': 20, 'stream': 'cse'}

In [ ]:
num1=